@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
* {
  text-align: left;
  color: #fcfade;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
body {
margin: 40px 0 40px 0;
padding: 0;
cursor: none;
}
#cursor {
  position: fixed;
  pointer-events: none;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease;
  z-index: 9999;
}

#cursor-inner {
  width: 100%;
  height: 100%;
  background-image: url('/cursor/cursor.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(38px, 1fr));
  grid-auto-rows: 38px;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.cell {
  border: 1.5px solid #313d33;
  background-color: #1b2725;
  transition: background 0.2s;
  animation: hover 0.5s forwards paused;
}

.cell:hover {
  animation-play-state: running;
}
@keyframes hover {
  0% { background-color: #1b2725; }
  1% { background-color: #4d5f53; }
  50% { background-color: #4d5f53; }
  100% { background-color: #1b2725; }
}
.content {
  max-width: 672px;
  margin: 0 auto;
  position: relative; 
  z-index: 20;
  background-color: #111a18;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: 3px solid #4d5f53;
  outline: 5px solid #8fa799;
  outline-offset: 8px;
  box-sizing: border-box;
}
h1 {
  font-size: xx-large;
  color: rgb(202, 222, 151);
  margin-bottom: 10px;
}
img {
  float: right;
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fcfade;
  margin: 20px auto 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img.sidebar {
  position: absolute;
  width: auto; 
  height: auto;
  z-index: 1000;
}
img.sidebar:hover {
  box-shadow: 0 0 0 0 !important; /* right: 30px !important; top: 25% !important; transform: rotate(60deg) !important;" */
}
@media (max-width: 672px) {
  img.sidebar {
    display: none;
  }
}
ul li{
  color: #fcfade;
}
a {
  color: rgb(202, 222, 151);
}
span {
    color: rgb(202, 222, 151);
    font-style: italic;
    }