---
import Navbar from "../components/navbar.astro"
import '../styles/global.css';
---
<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/about</title>
</head>
<style>
div.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
div.gallery a {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
img.gallery{
    max-width: 45%;
    max-height: 45%;
    margin-bottom: 10%;
    border: 3px solid rgb(202, 222, 151);
}
</style>
<body>
    <img class="sidebar" src="/images/heart.svg" style="left: 50px !important; top: 25% !important;" alt="decor"></img>
<div>
<Navbar />
<h1>variidian/art <img src="images/persona1.png" alt="a tiny persona i drew"></img></h1>
<p>a collection of drawings/photographs. click on them to learn more!</p>
<p></p>
<a href="/nyc">
<div class="gallery">
<img class="gallery" src="images/1-IMG_0868.jpg" alt="photograph i took during parthenon - a hackathon in nyc" ></img>
<img class="gallery" src="images/2-IMG_1616.jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
<img class="gallery" src="images/3-IMG_1615.jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
<img class="gallery" src="images/IMG_1599 (1).jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
</a>
<img class="gallery" src="images/croissant.png" alt="croissant drawing"></img>
<img class="gallery" src="images/person.png" alt="oc drawing"></img>
</div>
</div>
</body>
</html>