---
import Navbar from "../components/navbar.astro"
---
<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/about</title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
img {
    float: right;
    max-width: 100%;
    height: auto;
}
img:hover {
box-shadow: 0 0 2px 1px rgb(202, 222, 151);
}
p {
margin-top: 10px;
margin-bottom: 10px;
color: #fcfade;
margin: 20px auto 0;

}
div {
max-width: 672px;
margin: 0 auto;
}
h1 {
    font-size: xx-large;
    color: rgb(202, 222, 151);
    margin-bottom: 10px;
}
* {
text-align: left;
color: rgb(255, 255, 255);
font-family: "Inconsolata", monospace;
font-optical-sizing: auto;
font-variation-settings:
    "wdth" 100;
}
body {
background-color: #303D32;
opacity: 1;
background-image:  linear-gradient(#1B2725 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #1B2725 1.9000000000000001px, #303D32 1.9000000000000001px);
background-size: 38px 38px;
background-repeat: repeat;
margin: 0;
padding: 0;
}
a {
color: rgb(202, 222, 151);
font-style: italic;
}
ul {
list-style-type: none;
padding: 0;
margin: 0;
}
div.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
div.gallery a {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
img.gallery{
    max-width: 45%;
    max-height: 45%;
    margin-bottom: 10%;
    border: 3px solid rgb(202, 222, 151);
}
img.sidebar {
  position: absolute;
  width: auto; 
  height: auto;
  z-index: 1000;
}
img.sidebar:hover {
  box-shadow: 0 0 0 0 !important;
}
@media (max-width: 672px) {
  img.sidebar {
    display: none;
  }
}
</style>
<body>
    <img class="sidebar" src="/images/heart.svg" style="left: 50px !important; top: 25% !important;" alt="decor"></img>
<div>
<Navbar />
<h1>variidian/art <img src="images/persona1.png" alt="a tiny persona i drew"></img></h1>
<p>a collection of drawings/photographs. click on them to learn more!</p>
<p></p>
<a href="/nyc">
<div class="gallery">
<img class="gallery" src="images/1-IMG_0868.jpg" alt="photograph i took during parthenon - a hackathon in nyc" ></img>
<img class="gallery" src="images/2-IMG_1616.jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
<img class="gallery" src="images/3-IMG_1615.jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
<img class="gallery" src="images/IMG_1599 (1).jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
</a>
<img class="gallery" src="images/croissant.png" alt="croissant drawing"></img>
<img class="gallery" src="images/person.png" alt="oc drawing"></img>
</div>
</div>
</body>
</html>