---
import Navbar from "../components/navbar.astro"
import '../styles/global.css';
---
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/about</title>
<style>
div.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
max-width: 672px;
margin: 0 auto;
}
div.gallery a {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
img.gallery{
    max-width: 20%; 
    height: auto;
    margin-bottom: 10%;
    object-fit: contain;
    display: block;
}
</style>
<div class="grid">
    {Array.from({ length: 800 }).map(() => (
      <div class="cell"></div>
    ))}
  </div>
    <img class="sidebar" src="/images/heart.svg" style="left: 50px !important; top: 25% !important;" alt="decor"></img>
<div class="content">
<Navbar />
<h1>variidian/art <img src="images/persona1.png" alt="a tiny persona i drew" style="margin: 0 !important;"></img></h1>
<p>a collection of drawings/photographs. on some of them, you can click to learn more!</p>
<a href="/nyc">
<div class="gallery">
<img class="gallery" src="images/1-IMG_0868.jpg" alt="photograph i took during parthenon - a hackathon in nyc" ></img>
<img class="gallery" src="images/2-IMG_1616.jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
<img class="gallery" src="images/3-IMG_1615.jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
<img class="gallery" src="images/IMG_1599 (1).jpg" alt="photograph i took during parthenon - a hackathon in nyc"></img>
</a>
<img class="gallery" src="images/croissant.png" alt="croissant drawing"></img>
<img class="gallery" src="images/person.png" alt="oc drawing"></img>
<img class="gallery" src="images/grass.png" alt="grass"></img>
<img class="gallery" src="images/grapes.png" alt="grapes"></img>
<img class="gallery" src="images/sky.png" alt="sky"></img>
<img class="gallery" src="images/" alt="image"></img>

</div>
</div>
