---
import Navbar from "../components/navbar.astro"
import '../styles/global.css'
import Blogbox from "../components/blogbox.astro"
import { dateTimeFormat } from "astro/dist/core/logger/core"
const BlogItems = [
  {
    title: "title",
    description: "description",
    href: "https://www.merriam-webster.com/dictionary/placeholder",
    date: "date",
  },
  {
    title: "title",
    description: "description",
    href: "https://www.merriam-webster.com/dictionary/placeholder",
    date: "date",
  }
]
---
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/blog</title>
</head>
<body>
    <img class="sidebar" src="/images/pop.svg" style="right: 250px !important; top: 65% !important; transform: rotate(150deg) !important;" alt="decor"></img>
<div>
<Navbar />
<h1>variidian/blog <img src="images/persona1.png" alt="a tiny persona i drew"></img></h1>
<p><i>for the occasional urge to write</i></p>
{BlogItems.map((item) => (
  <Blogbox
  title={item.title}
  description={item.description}
  href={item.href}
  date={item.date}
  />
 ))}
</div>
</body>
</html>