---
import Navbar from "../components/navbar.astro"
import '../styles/global.css'
import Blogbox from "../components/blogbox.astro"
import { dateTimeFormat } from "astro/dist/core/logger/core"
const BlogItems = [
  {
    title: "the hackathon experience",
    description: "in which i yap about hackathons from an attendee perspective",
    href: "/blog_hackathons",
    date: "6/3/2026",
  },
  {
    title: "title",
    description: "description",
    href: "https://www.merriam-webster.com/dictionary/placeholder",
    date: "date",
  }
]
---
<style>
  p {
    margin-bottom: 5px;
  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/blog</title>
<p>for you non-upside-down-land dwellers, the date format used here is day/month/year (also, the only correct one)</p>

<div class="grid">
  {Array.from({ length: 4000 }).map(() => (
    <div class="cell"></div>
  ))}
</div>

<img class="sidebar" src="/images/pop.svg" style="right: 250px !important; top: 65% !important; transform: rotate(150deg) !important;" alt="decor"></img>

<div class="content">
<Navbar />

<h1>variidian/blog <img src="images/persona1.png" alt="a tiny persona i drew"></img></h1>
<p><i>for the occasional urge to write</i></p>

{BlogItems.map((item) => (
  <Blogbox
  title={item.title}
  description={item.description}
  href={item.href}
  date={item.date}
  />
 ))}

</div>
<script src="../styles/js.js"></script> 
<div id="cursor">
  <div id="cursor-inner"></div>
</div>