---
import Navbar from '../components/navbar.astro';
import '../styles/global.css';
---
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 user-scalable=no">
<title>variidian/about</title>
</head>
<body>
  <img class="sidebar" src="/images/heart.svg" style="right: 30px !important; top: 25% !important;" alt="decor"></img>
  <img class="sidebar" src="/images/autodraw.svg" style="top: 70% !important; left: 50px !important;" alt="decor"></img>
<div>
  <Navbar />
  <h1>variidian/about <img src="/images/persona1.png" alt="a tiny persona i drew"></h1>
  <p>hihi! I go by variidian/turdle (she/her) online and am a 13 y/o from Sydney, Australia :p</p>
  <img src="/images/shaw_art.png" alt="shaw art">
  <p>Apart from coding, things i like include:</p>
  <ul>
    <li>- videogames! - minecraft, pokemon, botw, hollowknight and peak come to mind (i've played more than just those though - ask!) - haven't played much of the last two though :pensive-wobble:</li>
    <li>- plushies - imo you can never have too many - blahaj. blhaj. bhalaj. </li>
    <li>- Books >> movies - sci-fi and fantasy! - off the top of my head <a href="https://www.goodreads.com/book/show/28954189-scythe">Arc of a Scythe</a> was pretty good, Although i do remember enjoying <a href="https://en.wikipedia.org/wiki/Wings_of_Fire_(novel_series)">Wings of Fire</a> and <a href="https://en.wikipedia.org/wiki/Warriors_(novel_series)">Warrior Cats</a> in 2022</li>
    <li>- the time between 11pm and sunrise. Its always so calm and peaceful :3 - vibes to hippo campus also go hard here ^^</li>
    <li>- drawing! i mostly draw digitally on <a href="https://procreate.com/">procreate</a>, however i sometimes draw traditionally!</a></li>
  </ul>
  <p>fun fact: my username 'variidian' is a misspelling of the colour viridian green</p>
  <p></p>
</div>
</body>
</html>