---
import Navbar from "../components/navbar.astro"
import '../styles/global.css';
---
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/about</title>
</head>
<style>
div.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
img.gallery{
    max-width: 30%;
    max-height: 30%;
    margin-bottom: 10%;
    border: 3px solid rgb(202, 222, 151);
}
</style>
<body>
<div>
<Navbar />
<h1>variidian/new_york <img src="images/persona1.png" alt="a tiny persona i drew"></img></h1>
<p>Those photos you saw on the previous page were taken during my time in New York, and edited a few months later in Adobe Lightroom. For three days in mid November, i was at <a href="https://parthenon.hackclub.com/">Parthenon</a>, a hackathon hosted by Hack Club as apart of the Athena Initiative. Below, are some photos :3</p>
<div class="gallery">
    <img class="gallery" src="images/IMG_2849.jpeg" alt="group photo" ></img>
    <img class="gallery" src="images/IMG_2792.jpeg" alt="group photo" ></img>
    <img class="gallery" src="images/IMG_1640.jpeg" alt="ending ceremony" ></img>
    <img class="gallery" src="images/IMG_1637.jpeg" alt="left to right: chloe, me" ></img>
    <img class="gallery" src="images/IMG_1631.jpeg" alt="group photo at lunch" ></img>
    <img class="gallery" src="images/IMG_1626.jpeg" alt="duolingo bird's front" ></img>
    <img class="gallery" src="images/IMG_0435.jpeg" alt="left to right: joanna, me" ></img>
    <img class="gallery" src="images/a.jpeg" alt="" ></img>
    <img class="gallery" src="images/b.jpeg" alt="duolingo bird's behind" ></img>
    <img class="gallery" src="images/c.jpeg" alt="" ></img>
    <img class="gallery" src="images/d.jpeg" alt="birbo statue" ></img>
    <img class="gallery" src="images/e.jpeg" alt="left to right: me, joanna" ></img>
</div>
</body>
</html>