---
import Navbar from "../components/navbar.astro"
import '../styles/global.css';
import Projectbox from "../components/projectbox.astro";
const ProjectItems = [
  {
    title: "personal-website",
    description: "this website! astro :3",
    href: "https://github.com/variidian/personal-website"
  },
  {
    title: "hotel-sim game",
    description: "a short hotel management simulator game made in godot. slightly scuffed.",
    href: "https://viriidian.itch.io/hotel-sim"
  },
  {
    title: "placeholder title",
    description: "placeholder description",
    href: "https://www.merriam-webster.com/dictionary/placeholder"
  }
]
---
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/projects</title>
</head>
<body>
    <img class="sidebar" src="/images/pop.svg" style="right: 75px !important; top: 10% !important; transform: rotate(15deg) !important;" alt="decor"></img>
<div>
<Navbar />
<h1>variidian/projects <img src="images/persona1.png" alt="tiny human"></img></h1>
<p>this page is a collection of coded projects ive made and is <a href="https://dictionary.cambridge.org/dictionary/english/in-progress">in progress</a></p>
{ProjectItems.map((item) => (
 <Projectbox 
 title={item.title}
 description={item.description}
 href={item.href}
 />
))}
</div>
</body>
</html>