---
import Navbar from "../components/navbar.astro"
import '../styles/global.css';
import Projectbox from "../components/projectbox.astro";
const ProjectItems = [
  {
    title: "personal-website",
    description: "this website! astro :3",
    href: "https://github.com/variidian/personal-website"
  },
  {
    title: "hotel-sim game",
    description: "a short hotel management simulator game made in godot. slightly scuffed",
    href: "https://viriidian.itch.io/hotel-sim"
  },
  {
    title: "kolourmeans",
    description: "an application that turns a location selected on a satellite map into a colour scheme :]",
    href: "https://github.com/variidian/kolourmeans"
  },
  {
    title: "some projectTM",
    description: "a descriptive description for a projecty project",
    href: "https://www.merriam-webster.com/dictionary/no"
  }
]
---
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/projects</title>

<div class="grid">
  {Array.from({ length: 4000 }).map(() => (
    <div class="cell"></div>
  ))}
</div>

<body>
    <img class="sidebar" src="/images/pop.svg" style="right: 75px !important; top: 10% !important; transform: rotate(15deg) !important;" alt="decor"></img>

    <div class="content">
<Navbar />
<h1>variidian/projects <img src="images/persona1.png" alt="tiny human"></img></h1>
<p>a collection of projects i've made :]</a></p>

{ProjectItems.map((item) => (
 <Projectbox 
 title={item.title}
 description={item.description}
 href={item.href}
 />
))}

</div>
<script src="../styles/js.js"></script> 
<div id="cursor">
  <div id="cursor-inner"></div>
</div>