---
import Navbar from "../components/navbar.astro"
import '../styles/global.css';
---
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0  user-scalable=no">
<title>variidian/socials</title>
</head>
<style>
h3 {
    float: right;
    font-size: small;
    margin-bottom: 20px;
    margin-left: 100px;
}
</style>
<script>
document.addEventListener('DOMContentLoaded', setRandomCatImage)
async function setRandomCatImage() {
	const catapi_call = await fetch('https://api.thecatapi.com/v1/images/search?size=small')
	const catapi_json = await catapi_call.json()
	const img_url = catapi_json[0].url
	const img_width = catapi_json[0].width
	const img_height = catapi_json[0].height
	const image_elem = document.getElementById('catapi_image_elem') as HTMLImageElement
  if (image_elem) {
	  image_elem.src = img_url
    image_elem.width = img_width
    image_elem.height = img_height
  }
    if (img_width >= 672) {
        location.reload()
    }
}
</script>
<body>
    <img class="sidebar" src="/images/moon.svg" style="left: 30px !important; top: 20% !important;" alt="decor"></img>
    <img class="sidebar" src="/images/autodraw.svg" style="right: 80px !important; top: 70% !important;" alt="decor"></img>
<div>
  <Navbar />
<h1>variidian/socials <img src="images/persona1.png" alt="a tiny persona i drew"></img></h1>


<p>my usernames are mostly the same across these platforms, but here they are:</p>
<ul>
<li>-<a href="https://www.last.fm/user/variidian">last fm</a></li>
<li>-<a href="https://open.spotify.com/user/31ra2lxnqe5n2k74lucc2axw72qe?si=a73e71c4d6424b35">spotify</a></li>
<li>-<a href="https://www.instagram.com/variidian/">instagram</a></li>
<li>-<a href="https://steamcommunity.com/profiles/variidian">steam</a></li>
<li>-<a href="https://github.com/variidian">github</a></li>
<li>-<a href="https://viriidian.itch.io/">itch</a></li>
<p>Feel free to get in touch! (Especially true if i've met you irl before) My dms on slack are always open too :)</p>
<h3><i>a random cat image ↓ using cat api!</i></h3>
<img id="catapi_image_elem"></img>
<p></p>

</ul>
</div>
</body>
</html>