---  
interface Props {  
  title: string;  
  description: string;  
  href: string;
  date: string; 
}  
  
const { title, description, href, date } = Astro.props;  
---  
<style>
div.blogbox {
background-color: #0f1b19;
height: 150px;
}
div.blogbox:hover {
box-shadow: 0 0 2px 1px rgb(202, 222, 151);
}
h2 {
font-size: x-large;
color: rgb(202, 222, 151);
padding: 20px 20px 0px 20px;
}
p.blogbox {
padding: 0 20px 20px 20px;
} 
p.date {
padding: 0 20px 0px 20px;
} 
</style>
<div class="blogbox">
    <h2><a href={href}>{title}</a></h2>
    <p class="blogbox">{description}</p>
    <p class="date"><span>{date}</span></p>
    </div>